
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/LayoutPage_Customer.cshtml";
}


<div class="container">
    <div class="text">
        <br><br>
        <h1 class="text-1">ABVN MENU</h1>
        <h1 class="text-2">SẢN PHẨM NỔI BẬT</h1>
        <div class="icon-home"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">

            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/SCRIPT RAGLAN TEE - GRAY.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/SCRIPT RAGLAN TEE - GRAYY.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/BOLD TEE - CREAM.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/BOLD TEE - CREAMM.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/FLARED CARGO PANTS - BLACK.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/FLARED CARGO PANTS - BLACKK.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/TRUCKER HAT - BROWN.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/TRUCKER HAT - BROWNN.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">

            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/SWE MESSENGER BAG - BLACK.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/SWE MESSENGER BAG - BLACKK.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="course-item-menu">
                <div class="box"><img src="./img/quanao_VANB/WIND TEE - BLACK.jpg" alt=""></div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/WIND TEE - BLACKK.jpg" alt=""></div></a>
                <div class="box__item">
                    <div class="btn_buy">
                        <p>MUA NGAY</p>
                    </div>
                    <div class="btn_add">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                </div>

                <div class="box__product">
                    <div class="box__color">
                        <div class="color_1"></div>
                        <div class="color_2"></div>
                    </div>
                    <div class="text_product">
                        <p class="product_name">POLO SHIRT</p>
                        <p class="product_money">459.000đ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="course-item-menu">
                <div class="box">
                    <img src="./img/quanao_VANB/SIGNATURE CORDUROY JACKET - DARK BROWN.jpg" alt="">
                </div>
                <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/SIGNATURE CORDUROY JACKET - DARK BROWNN.jpg" alt=""></a>
            </div>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="course-item-menu">
            <div class="box"><img src="./img/quanao_VANB/FLARED CARGO PANTS - BLACK.jpg" alt=""></div>
            <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/FLARED CARGO PANTS - BLACKK.jpg" alt=""></div></a>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">

        <div class="course-item-menu">
            <div class="box"><img src="./img/quanao_VANB/SLIM WALLET - SAND.jpg " alt=""></div>
            <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/SLIM WALLET - SANDD.jpg" alt=""></div></a>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="course-item-menu">
            <div class="box"><img src="./img/quanao_VANB/PUFFER BAG - LIGHT BEIGE.jpg" alt=""></div>
            <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/PUFFER BAG - LIGHT BEIGEE.jpg" alt=""></div></a>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="course-item-menu">
            <div class="box"><img src="./img/quanao_VANB/SWEVN TEE - BLACK.jpg" alt=""></div>
            <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/SLIM WALLET - SANDD.jpg" alt=""></div></a>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="course-item-menu">
            <div class="box"><img src="./img/quanao_VANB/GOTHIC CORDUROY JACKET - BLACK.jpg" alt=""></div>
            <a href="./html_single/product.html"><div class="box_2"><img src="./img/quanao_VANB/GOTHIC CORDUROY JACKET - BLACKK.jpg" alt=""></div></a>
            <div class="box__item">
                <div class="btn_buy">
                    <p>MUA NGAY</p>
                </div>
                <div class="btn_add">
                    <p>THÊM VÀO GIỎ</p>
                </div>
            </div>

            <div class="box__product">
                <div class="box__color">
                    <div class="color_1"></div>
                    <div class="color_2"></div>
                </div>
                <div class="text_product">
                    <p class="product_name">POLO SHIRT</p>
                    <p class="product_money">459.000đ</p>
                </div>
            </div>
        </div>
    </div>
</div>


    </div>

<div class="text__click-btn">
    <a href="./html_single/product.html">XEM TẤT CẢ</a>
</div>

